.skills {
  background-color: var(--skills-bg);
  background: linear-gradient(180deg, rgba(156, 161, 81, 1) 0, rgba(184, 189, 107, 1) 1.5rem);
  padding: 3rem 2rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.skills h2 {
  color: var(--skills-texts);
}

.skills h2::before,
.skills h2::after {
  color: var(--skills-accents);
}

.skills ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.skills__list-item {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.skills__label {
  width: 40%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--skills-texts);
}

.skills__container {
  width: 60%;
  height: 1.8rem;
  position: relative;
  background-color: var(--skills-accents);
  border-radius: 7px;
}

.skills__skillbar {
  text-indent: -9999px;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  background-color: var(--light);
  height: 1rem;
  border-radius: 6px;
}
.w-50 {
  width: calc(50% - 0.8rem);
}
.w-60 {
  width: calc(60% - 0.8rem);
}
.w-70 {
  width: calc(70% - 0.8rem);
}
.w-80 {
  width: calc(80% - 0.8rem);
}
.w-90 {
  width: calc(90% - 0.8rem);
}
.w-100 {
  width: calc(100% - 0.8rem);
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: calc(100% - 0.8rem);
  }
  100% {
    width: normal;
  }
}
.skills__skillbar {
  animation: slideIn 2s;
  animation-iteration-count: 1;
}

@media (width > 768px) {
  .skills {
    padding: 5rem 2rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 1.5rem 4rem;
  }
  .skills__label {
    width: 50%;
  }
}

@media (width > 1200px) {
  .skills ul {
    max-width: 1400px;
    margin: auto;
  }
}
